<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Layui</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>tab1.jsp</welcome-file>
    <welcome-file>index2.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JsonServlet</display-name>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>com.servlet.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/jsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GosnServlet</display-name>
    <servlet-name>GosnServlet</servlet-name>
    <servlet-class>com.servlet.GosnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GosnServlet</servlet-name>
    <url-pattern>/gosnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/pageServlet</url-pattern>
  </servlet-mapping>
</web-app>