<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfx.dao.UserMapper">
	
	<!-- 查询所有数据 -->
	<select id="findAll" resultType="User">
		select * from User
	</select>
	
	<!-- 查询单条数据  -->
	<select id="findByname" resultType="User" parameterType="string">
		select * from User where uname = #{uname}
	</select>
	
	<!-- 查询单条数据  -->
	<select id="findById" resultType="User" parameterType="int">
		select * from User where uid = #{uid}
	</select>
	
	<!-- 获取数据的总条数 -->
	<select id="countSize" resultType="int">
		select count(uid) from user
	</select>
	
	<!-- 分页查询  -->
	<select id="findPage" resultType="User">
		select * from user limit #{page}, #{limit}
	</select>
	
	<!-- delete -->
	<delete id="delete">
		delete from user where uid =#{uid}
	</delete>
	
	<!-- 修改 -->
	<update id="update" parameterType="User">
		update User 
		<set>
			<if test="uname != null and uname != ''">
			uname = #{uname},
			</if>
			<if test="upwd != null and upwd != ''">
				upwd= #{upwd}, 
			</if>
			<if test="emial != null and emial != ''">
				 emial= #{emial},
			</if>
			<if test="phone != null and phone != ''">
				phone= #{phone},
			</if>
		</set> 
		where uid= #{uid};
	</update>
	
	<!-- 注册 -->
	<insert id="reg" parameterType="User">
		insert into User values(null, #{uname}, #{upwd}, #{emial}, #{phone})
	</insert>
	
</mapper>